	<div class="start">
		<div class="start__inner">
			<div class="start__info">
				<div class="start__info-data start__info-data-sm-i1 start__info-data-show">
					<h3 class="start__info-title">Что такое Полис?</h3>
					<p class="start__info-text">Врачи общей практики, работающих под маркой «Полис» — участковые врачи, не предоставляющие платных медицинских услуг. Помощь оказывается исключительно по полисам ОМС в рамках территориальной программмы государственных Гарантий Санкт-Петербурга.</p>
					<%= link_to "Узнайте больше о компании", abouts_path, :class => 'start__info-link' %>
				</div>
				<div class="start__info-data start__info-data-sm-i2">
					<h3 class="start__info-title">найти ближайшее отделение на карте</h3>
					<%= link_to "Перейти к поиску по адресу или карте", offices_path, :class => 'start__info-link' %>
				</div>
				<div class="start__info-data start__info-data-sm-i3">
					<h3 class="start__info-title">Услуги полиса</h3>
					<p class="start__info-text">Врачи общей практики, работающих под маркой «Полис» — участковые врачи, не предоставляющие платных медицинских услуг. Помощь оказывается исключительно по полисам ОМС в рамках территориальной программмы государственных Гарантий Санкт-Петербурга.</p>
					<%= link_to "Просмотрите список услуг", services_path, :class => 'start__info-link' %>
				</div>
				<span class="start__text-position sm-i1"></span>
			</div>
			<div class="start__menu">
				<ul>
					<li class="start__menu-top start__menu-selected" id="sm-i1"><a href="javascript:;"><b>О Полисе</b>Несколько слов о компании<br/>и её деятельности<i class="i1"></i></a></li>
					<li id="sm-i2"><a href="javascript:;"><b>Найти на карте</b>Быстрый поиск по всем<br/>отделениям<i class="i2"></i></a></li>
					<li id="sm-i3" class="start__menu-bottom"><a href="javascript:;"><b>Услуги Полиса</b>Узнайте, какие Вам будут<br/>предоставлены по полису<i class="i3"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="start__bottom clearfix">
			<a href="#" class="i1">Пожаловаться</a>
			<a href="#" class="i2">Поблагодарить</a>
		</div>
	</div>