<div id="slider">
	<ul>
		<li>
			<img src="slide1.jpg" width="948" height="390" alt="slider">
			<div class="s-text-wrap">
				<span class="sw-title">Что такое Полис?</span>
				<div class="sw-text">Врачи общей практики.<br />Помощь по полису ОМС.<br />8 центров в Приморском районе Санкт-Петербурга.<br />Абсолютно бесплатно.</div>
				<%= link_to "Узнайте больше о компании", abouts_path, :class=>'sw-detail' %>
			</div>
		</li>
		<li>
			<img src="slide3.jpg" width="948" height="390" alt="slider">
			<div class="s-text-wrap">
				<span class="sw-title">Почему бесплатно?</span>
				<div class="sw-text">Вы лечитесь в частной клиники, а платит за это государство. Полис работает в рамках государственной территориальной программы обязательного медицинского страхования.</div>
				<a href="#" class="sw-detail">Узнайте подробности</a>
			</div>
		</li>
		
		<li>
			<img src="slide3.jpg" width="948" height="390" alt="slider">
			<div class="s-text-wrap">
				<span class="sw-title">Врачи общей практики - кто они?</span>
				<div class="sw-text" style="margin-top: -20px;">Новое качество амбулаторной медицинской помощи.
				Лечим не болезнь, а человека.</div>
				<a href="#" class="sw-detail">Узнайте подробнее</a>
			</div>
		</li>
	</ul>
	<span class="s-bordered-layer"></span>
	
	<div class="start__bottom clearfix">
		<a href="#" class="i1">Пожаловаться</a>
		<a href="#" class="i2">Поблагодарить</a>
	</div>
	
	<div id="s-pagination"></div>
</div>