<div id="slider">
	<ul>
		<li>
			<img src="slider.jpg" width="948" height="390" alt="slider">
			<div class="s-text-wrap">
				<span class="sw-title">Что такое Полис?</span>
				<div class="sw-text">Врачи общей практики.<br />Помощь по полису ОМС.<br />Уже 29 отделений<br />в Санкт-Петербурге и области.<br />Абсолютно бесплатно.</div>
				<a href="#" class="sw-detail">Узнайте больше о компании</a>
			</div>
		</li>
		<li>
			<img src="slider.jpg" width="948" height="390" alt="slider">
			<div class="s-text-wrap">
				<span class="sw-title">Заголовок 2</span>
				<div class="sw-text">Врачи общей практики.<br />Помощь по полису ОМС.<br />Уже 29 отделений<br />в Санкт-Петербурге и области.<br />Абсолютно бесплатно.</div>
				<a href="#" class="sw-detail">Узнайте больше о компании</a>
			</div>
		</li>
		
		<li>
			<img src="slider.jpg" width="948" height="390" alt="slider">
			<div class="s-text-wrap">
				<span class="sw-title">Третий заголовок</span>
				<div class="sw-text">Врачи общей практики.<br />Помощь по полису ОМС.<br />Уже 29 отделений<br />в Санкт-Петербурге и области.<br />Абсолютно бесплатно.</div>
				<a href="#" class="sw-detail">Узнайте больше о компании</a>
			</div>
		</li>
	</ul>
	<span class="s-bordered-layer"></span>
	
	<div class="start__bottom clearfix">
		<a href="#" class="i1">Пожаловаться</a>
		<a href="#" class="i2">Поблагодарить</a>
	</div>
	
	<div id="s-pagination"></div>
</div>