<div class="body clearfix">
	<div class="start">
		<div class="start__inner">
			<div class="start__info">
				<div class="start__info-data start__info-data-sm-i1">
					<h3 class="start__info-title">Что такое Полис?</h3>
					<p class="start__info-text">Врачи общей практики, работающих под маркой «Полис» — участковые врачи, не предоставляющие платных медицинских услуг. Помощь оказывается исключительно по полисам ОМС в рамках территориальной программмы государственных Гарантий Санкт-Петербурга.</p>
					<a href="#" class="start__info-link">Узнайте больше о компании</a>
				</div>
				<div class="start__info-data start__info-data-sm-i2 start__info-data-show">
					<h3 class="start__info-title">найти ближайшее отделение на карте</h3>
					<a href="#" class="start__info-link">Перейти к поиску по адресу или карте</a>
				</div>
				<div class="start__info-data start__info-data-sm-i3">
					<h3 class="start__info-title">Услуги полиса</h3>
					<p class="start__info-text">Врачи общей практики, работающих под маркой «Полис» — участковые врачи, не предоставляющие платных медицинских услуг. Помощь оказывается исключительно по полисам ОМС в рамках территориальной программмы государственных Гарантий Санкт-Петербурга.</p>
					<a href="#" class="start__info-link">Просмотрите список услуг</a>
				</div>
				<span class="start__text-position sm-i1"></span>
			</div>
			<div class="start__menu">
				<ul>
					<li class="start__menu-top start__menu-selected" id="sm-i1"><a href="#"><b>О Полисе</b>Несколько слов о компании<br/>и её деятельности<i class="i1"></i></a></li>
					<li id="sm-i2"><a href="#"><b>Найти на карте</b>Быстрый поиск по всем<br/>отделениям<i class="i2"></i></a></li>
					<li id="sm-i3" class="start__menu-bottom"><a href="#"><b>Услуги Полиса</b>Узнайте, какие Вам будут<br/>предоставлены по полису<i class="i3"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="start__bottom clearfix">
			<a href="#" class="i1">Пожаловаться</a>
			<a href="#" class="i2">Поблагодарить</a>
		</div>
	</div>
	<p class="start__text">Компания «Полис» — это лучшие специалисты и самое современное оборудование, приветливый персонал и уютная обстановка. Здесь Вас всегда ждут профессиональные специалисты, в наших Медицинских центрах позаботятся о Вашем здоровье!</p>
	<ul class="start__faq clearfix">
		<li><a href="#">что взять с собой<br/>на прием?</a></li>
		<li><a href="#">как записаться<br/>на прием?</a></li>
		<li class="start__faq-item-last"><a href="#">что взять с собой<br/>на прием?</a></li>
	</ul>
	<div class="start__news clearfix">
		<h3 class="start__news-title">Новости</h3>
		<ul>
			<li><a href="#">Четверть опрошенных россиян сами знают, какие препараты принимать</a><p>Такие данные получены в ходе общенационального исследования HealthIndex, ключевой темой которого во 2 квартале 2012 года стала оценка россиянами наличия хронических заболеваний и причин редкого посещения  специалистов.</p></li>
			<li><a href="#">Фармхолдинг Stada увеличил продажи в РФ за 9 месяцев</a><p>Выручка в России Stada CIS увеличилась в январе-сентябре 2012 года по сравнению с аналогичным периодом прошлого года на 20,5% и составила 233 миллиона евро.</p></li>
			<li class="start__news-item-last"><a href="#">Минздрав не против продажи безрецептурных лекарств через розничные сети</a><p>Минздрав не видит препятствий для продажи некоторых безрецептурных лекарств через розничные сети, сообщила в четверг на пресс-конференции глава ведомства Вероника Скворцова.</p></li>
		</ul>
		<a href="#" class="start__news-all"></a>
	</div>
</div>