	<div class="address_right">
		<div class="othernews">
			<h2 class="othernews__title-department"></h2>
			<ul class="othernews__list">
				<% @articles.each do |article| %>
				<li><span>
					<% if article.date != nil %>
					<%= article.date.strftime("%m.%Y") %> 
					<%	else nil end %>
					<% if article.date != nil && article.office_id != nil %>
					|
					<%	else nil end %>
				    <% if article.office_id != nil %>  
					<%=	Office.where(:id => article.office_id).first.title %>
					<%	else nil end %>
				</span><%= link_to article.title, article %></li>
				<% end %>
			</ul>
		</div>
	</div>