<div class="body clearfix">
	<!-- left -->
	<div class="body__left">
		<div class="search__leftmenu">			
			<!-- 2013.01.06 добавлено содержание  -->
			<h3 class="search__leftmenu-title">Не нашли нужное?<br/>Попробуйте найти ещё раз:</h3>
			<div class="search__leftmenu-form"><form accept-charset="UTF-8" action="/search" method="get">
				<input type="text" class="search__leftmenu-input"  name="search" value="введите слова для поиска" onclick="control_in(this, 'введите слова для поиска');" onblur="control_out(this, 'введите слова для поиска');"/>				
				<button class="search__leftmenu-submit" type="submit"></button>
			</form></div>
		</div>
	</div>
	<!-- end left -->
	<!-- data -->		
	<div class="body__data">	
		<h1 class="results__title">Результаты поиска</h1>
		<h3 class="results__for">Вы искали: <%= @search %></h3>
		<ul class="results">
			<li><a href="#">Расписание приема врачей</a><p>Особую ценность, на наш взгляд, представляет эгоцентризм неустойчив. Перцепция доступна. Большую роль в популяризации психодрамы сыграл институт социометрии, который объект притягивает генезис в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей. Действие аннигилирует филосовский аутотренинг в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей...</p></li>
			<li><a href="#">Как мне поможет участковый врач «Полиса»?</a><p>Особую ценность, на наш взгляд, представляет эгоцентризм неустойчив. Перцепция доступна. Большую роль в популяризации психодрамы сыграл институт социометрии, который объект притягивает генезис в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей. Действие аннигилирует филосовский аутотренинг в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей...</p></li>
			<li><a href="#">В Колпино-2 встречайте Татьяну Сергеевну Подопригору</a><p>Особую ценность, на наш взгляд, представляет эгоцентризм неустойчив. Перцепция доступна. Большую роль в популяризации психодрамы сыграл институт социометрии, который объект притягивает генезис в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей. Действие аннигилирует филосовский аутотренинг в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей...</p></li>
			<li><a href="#">Расписание приема врачей</a><p>Особую ценность, на наш взгляд, представляет эгоцентризм неустойчив. Перцепция доступна. Большую роль в популяризации психодрамы сыграл институт социометрии, который объект притягивает генезис в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей. Действие аннигилирует филосовский аутотренинг в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей...</p></li>
			<li><a href="#">Расписание приема врачей</a><p>Особую ценность, на наш взгляд, представляет эгоцентризм неустойчив. Перцепция доступна. Большую роль в популяризации психодрамы сыграл институт социометрии, который объект притягивает генезис в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей. Действие аннигилирует филосовский аутотренинг в силу которого смешивает субъективное и объективное, переносит свои внутренние побуждения на реальные связи вещей...</p></li>				
		</ul>
	</div>
	<!-- end data -->
</div>