<div class="body clearfix" style="min-height: 500px;">
	<!-- left -->
	<div class="body__left">
		<div class="search__leftmenu">			
			<!-- 2013.01.06 добавлено содержание  -->
			<h3 class="search__leftmenu-title">Не нашли нужное?<br/>Попробуйте найти ещё раз:</h3>
			<div class="search__leftmenu-form"><form id="search" accept-charset="UTF-8" action="/search" data-remote="true" data-type="html" method="post">
				<input name="utf8" type="hidden" value="&#x2713;" />
				<input type="text" class="search__leftmenu-input"  name="search" value="введите слова для поиска" onclick="control_in(this, 'введите слова для поиска');" onblur="control_out(this, 'введите слова для поиска');"/>				
				<a href="#" class="search__leftmenu-submit"></a>
			</form></div>
		</div>
	</div>
	<!-- end left -->
	<!-- data -->	
	
	<%= render 'results' %>
	<!-- end data -->
</div>

   