
<div style="float:left; width: 200px;">

leftmenu

</div>

<div style="float:left; width: 800px;">
	<% @news.each do |news| %>
	 <div class="new">
	    <%= news.title %>
	    <%= news.date %>
	    <%= news.description %>
		<%= link_to "Подробно", news %>
		
	<% end %>
</div>
