<div class="popupthankyou">
	<a href="javascript:;" class="popupthankyou__close"></a>
	<p class="popupthankyou__text">Спасибо за Ваш отзыв.<br/>Мы обязательно ознакомимся с ним,<br/>учтем замечания или опубликуем</p>
</div>