<!-- header -->
<div class="header"><div class="header__inner">
	<a href="/" class="header__logo"><span>ПОЛИС участковые врачи</span></a>
	<ul class="header__menu clearfix">
		<li class="header__menu-selected"><a href="#">Полис</a></li>
		<li><a href="#">Адреса</a></li>
		<li><a href="#">Услуги</a></li>
		<li><a href="#">Отзывы</a></li>
		<li><a href="#">Новости</a></li>
	</ul>
	<p class="header__phone"><b>8 800 123-4567</b> единый многоканальный</p>
</div></div>
<!-- end header -->